<div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-primary">
        </div>
        <div class="container py-lg-md d-flex">
            <div class="col px-0">
                <div class="row justify-content-md-center text-center" [ngSwitch]="isAuthenticated()">
                    <div class="col-lg-6" *ngSwitchCase="false">
                        <h1 class="display-3 text-white" jhiTranslate="home.title">MyPass, your password manager</h1>
                        <p class="lead  text-white" jhiTranslate="home.subtitle">We remember everything for you!</p>
                    </div>
                    <div class="col-lg-6" *ngSwitchCase="true">
                        <h1 class="display-3 text-white" *ngIf="account" jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}">
                            You are logged in as user "{{account.login}}".</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <!-- 1st Hero Variation -->
</div>
<section class="features" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="../../content/images/demo-screen.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <h3 jhiTranslate="home.features.f1">Secure</h3>
                                <p class="text-muted" jhiTranslate="home.features.f1d">You can generate strong passwords.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <h3 jhiTranslate="home.features.f2">Share Vaults</h3>
                                <p class="text-muted" jhiTranslate="home.features.f2d">Password vaults can be shared with other users.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <h3 jhiTranslate="home.features.f3">Free to Use</h3>
                                <p class="text-muted"><span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span><br>
                                    <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-item">
                                <h3 jhiTranslate="home.features.f4">Mobile First</h3>
                                <p class="text-muted" jhiTranslate="home.features.f4d">We provide the best experience on the go!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="download text-center" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="section-heading" jhiTranslate="home.download">Discover what all the buzz is about!</h2>
                <p jhiTranslate="home.downloaddesc">Our app is available on any mobile device! Download now to get started!</p>
                <div class="badges">
                    <a class="badge-link" href="#"><img src="../../content/images/google-play-badge.svg" alt="Play Store"></a>
                    <a class="badge-link" href="#"><img src="../../content/images/app-store-badge.svg" alt="App Store"></a>
                </div>
            </div>
        </div>
    </div>
</section>
